<p><%= @g.metadata['title'] %></p>
<p><%= @g.stats['complete'] %>/<%= @g.stats['total'] %> pages complete.</p>
<p>Status: <%= @g.state %></p>

<table>
  <theader>
    <th>Page</th>
    <th>Classification count</th>
    <th>BHL ID</th>
    <th>Volume</th>
    <th>Page</th>
    <th>Year</th>
    <th>Image scale</th>
    <th>Type</th>
    <th>Coords</th>
    <th>Value</th>
  </theader>
  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><a href="/subjects/<%= result[:subject_id] %>"><%= result[:subject_id] %></a></td>
        <td><%= result[:classification_count] %> </td>
        <td><%= result[:page_id] %> </td>
        <td><%= result[:volume] %> </td>
        <td><%= result[:page] %> </td>
        <td><%= result[:year] %> </td>
        <td><%= result[:scale] %> </td>
        <td>Page keywords</td>
        <td>[]</td>
        <td><%= result[:keywords].to_s %></td>
      </tr>
      <% result[:reduced].each do |mark| %>
        <tr>
          <td><a href="/subjects/<%= result[:subject_id] %>"><%= result[:subject_id] %></a></td>
          <td><%= result[:classification_count] %> </td>
          <td><%= result[:page_id] %> </td>
          <td><%= result[:volume] %> </td>
          <td><%= result[:page] %> </td>
          <td><%= result[:year] %> </td>
          <td><%= result[:scale] %> </td>
          <td><%= mark["type"] %></td>
          <td><%= mark["coords"].to_s %></td>
          <td>
            <% mark["value"].each do |k,v| %>
              <b><%= k %></b>
              <%= v %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>