<p><%= @g.metadata['title'] %></p>
<p><%= @g.stats['complete'] %>/<%= @g.stats['total'] %> pages complete.</p>
<p>Status: <%= @g.state %></p>
<p>
<% for page in @first_page..@last_page do%>
  <% unless page == @page %>
   <a href="/groups/<%= @g.zooniverse_id %>/<%= page %>"><%= page %></a>
  <% else %>
    <%= page %>
  <% end %>
<% end %>
</p>
<ul id="preview-gallery">
  <% @g.pages(@page).each do |subject| %>
  <li id="preview-recent-<%= subject.zooniverse_id %>" class="preview-holder">
    Loading…
    <script type="text/javascript">
      $.ajax({
        url: "/subjects/preview/<%= subject.zooniverse_id %>",
        cache: true,
        success: function(html){
          $("#preview-recent-<%= subject.zooniverse_id %>").html(html);
        }
      });
    </script>
  </li>
  <% end %>
</ul>