<p>Status: <%= @state %> (<%= @size %> records)</p>
<p>
<% for page in @first_page..@last_page do%>
  <% unless page == @page %>
   <a href="/subjects/<%= @state %>/<%= page %><%= "?has_illustrations=" + params[:has_illustrations] if params[:has_illustrations] %>"><%= page %></a>
  <% else %>
    <%= page %>
  <% end %>
<% end %>
</p>
<ul id="preview-gallery">
  <% @g.each do |subject| %>
  <li id="preview-recent-<%= subject.zooniverse_id %>" class="preview-holder">
    Loading…
    <script type="text/javascript">
      $.ajax({
        url: "/subjects/preview/<%= subject.zooniverse_id %>",
        cache: true,
        success: function(html){
          $("#preview-recent-<%= subject.zooniverse_id %>").html(html);
        }
      });
    </script>
  </li>
  <% end %>
</ul>